/*Styling for header.php*/
#signup{
    position:center;
}
#container {
    position: relative;
    text-align: center;
    color: white;
}
#top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: grey;
    border-radius: 4px;
    background-color: #3eb8e0;
}

/*Styling for signup.php*/
#top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
#backHome{
    position: absolute;
    top: 8px;
    right: 16px;
    color: grey;
    border-radius: 4px;
    background-color: #3eb8e0;
}

#phpDiv {
    font-size: x-large;
}

#h1Signup {
    position:relative;
	color:blue ;
	background-color: #E5A823;
	text-align: center;
}

#bodySignup {
    background-color: #939597;
}

#centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color:#E5A823 ;
	text-align:center;
}

#myForm {
    height:480px;
    width:1000px;
    color:blue; 
}

#top-left {
    position: absolute;
    top: 4px;
    left: 8px;
}

/*Styling for mainpage.php*/
/* #ulMainpage {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: sticky; 
        position: sticky;
        top: 0;
}

#body {
    font-size: 28px;
} */